# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../aprendejavaconejercicios-book-java\.idea/codestream.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
